@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #d3d3d3;
  margin-top: 24px;
}

.custom-swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #ffeddb;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #54473f;
  padding: 8px 16px;
}

.custom-swiper .swiper-button-next:hover,
.custom-swiper .swiper-button-prev:hover {
  color: #3f3f46;
}

.custom-swiper {
  z-index: 0;
}

button[data-rmiz-btn-unzoom] {
  display: none !important;
}

.custom-zoom [data-rmiz-modal-img] {
  transition: all 0.2s linear; /* Transición suave para transformaciones */
  object-fit: cover; /* Ajustar la imagen dentro del contenedor */
  width: 100%; /* Llenar el contenedor */
  height: 100%; /* Llenar el contenedor */
}

.custom-zoom [data-rmiz-modal-overlay] {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
}

.custom-zoom [data-rmiz-modal-overlay="hidden"] [data-rmiz-modal-img] {
  transform: none; /* Sin transformaciones para el estado inicial */
}

.custom-zoom [data-rmiz-modal-overlay="hidden"] .aspect-ratio-box {
  width: 250px; /* Tamaño inicial fijo */
  height: 250px; /* Tamaño inicial fijo */
}

.custom-zoom [data-rmiz-modal-overlay="visible"] .aspect-ratio-box {
  width: 100vw; /* Tamaño ajustado al ancho de la pantalla */
  height: 100vw; /* Mantener proporción cuadrada */
  max-height: 100vh; /* Limitar al alto de la pantalla */
  max-width: 100vh; /* Limitar al ancho de la pantalla */
}

.custom-zoom [data-rmiz-modal-overlay="hidden"] {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}
