@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #d3d3d3;
  margin-top: 24px;
}

.custom-swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #ffeddb;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #54473f;
  padding: 8px 16px;
}

.custom-swiper .swiper-button-next:hover,
.custom-swiper .swiper-button-prev:hover {
  color: #3f3f46;
}

.custom-swiper {
  z-index: 0;
}

button[data-rmiz-btn-unzoom] {
  display: none !important;
}

.custom-zoom [data-rmiz-modal-img] {
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.custom-zoom [data-rmiz-modal-overlay] {
  transition: background-color 0.8s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
}

.custom-zoom [data-rmiz-modal-overlay="hidden"] [data-rmiz-modal-img] {
  transform: scale(0.25); /* Escala inicial (250px / tamaño pantalla) */
}

.custom-zoom [data-rmiz-modal-overlay="visible"] [data-rmiz-modal-img] {
  transform: scale(1); /* Escala final (pantalla completa) */
}

.custom-zoom [data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(0, 0, 0, 0);
}
